.search-field {
  position: relative;
  width: 100%;
  padding-left: 1rem;
}
.search-field input {
  background-color: inherit;
  min-width: 300px;
  max-width: 500px;
  width: 100%;
  padding: 7px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border: none;
  border-bottom: 2px solid black;
  outline: none;
}

@media screen and (max-width: 730px) {
  .search-field {
    display: flex;
    padding-left: 0rem;
  }
  .search-field input {
    margin-left: -0.5rem;
  }

  .search-field .search-icon {
    margin-bottom: -1.5rem;
  }
}
@media screen and (min-width: 731px) {
  .search-field input {
    margin-left: -1rem;
  }

  .search-field .search-icon {
    margin-bottom: -0.25rem;
  }
}

.icon-positioning {
  position: absolute;
  bottom: 20px;
  left: 0;
}
@media screen and (max-width: 730px) {
  .icon-positioning {
    bottom: 40px;
    left: 0px;
  }
  .search-field {
    margin-bottom: 0;
  }
}
