@media screen and (max-width: 730px) {
  .description {
    height: 260px;
    width: 175px;
    background-color: #a7b8a8;
    border-radius: 20px;
  }
}

@media screen and (min-width: 731px) {
  .description {
    height: 342px;
    width: 210px;
    background-color: #a7b8a8;
    border-radius: 20px;
  }
}

@keyframes placeHolderShimmer {
  0% {
    background-position: -400px 0;
  }
  100% {
    background-position: 400px 0;
  }
}

.animated-background {
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background: #e9ebee;
  background: linear-gradient(to right, #f3f4f7 8%, #f9fafa 40%, #f3f4f7 90%);
  position: relative;
}
